In [1]:
import xarray as xr

In [2]:
ds = xr.open_dataset('data/precipitation.nc')
df = ds.to_dataframe()

In [3]:
df

                              gwgt       prc
lat      lon      time
-87.8638 0.0000   7901.0  0.001783  0.073717
                  7902.0  0.001783  0.101973
                  7903.0  0.001783  0.383357
                  7904.0  0.001783  0.148479
                  7905.0  0.001783  0.050824
...                            ...       ...
 87.8638 357.1875 9608.0  0.001783  0.625571
                  9609.0  0.001783  0.476778
                  9610.0  0.001783  0.098615
                  9611.0  0.001783  0.395300
                  9612.0  0.001783  0.165964

[1769472 rows x 2 columns]